body{
    background: url("https://th.bing.com/th/id/OIP.rwLfqQM3la7QSWFBZ1ycnwHaEK?w=284&h=180&c=7&r=0&o=7&pid=1.7&rm=3");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width:100%;
    display:block;
    justify-content: center;
    align-items: center;
}
.container h2{
    text-align: center;
    color:blanchedalmond;
    margin-left: 50px;
}
.container p{
    text-align: center;
    color:whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin-left:100px;
    font-size: 15px;
    /*margin-right: 20px;*/

}
