body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg,#6a11cb,#ff4e9b);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* Register Card */
.register-div{
    background:linear-gradient(45deg,#6a11cb,#ff4e9b);
    width:340px;
    padding:30px;
    border-radius:10px;
    box-shadow:0 8px 25px rgba(0,0,0,0.3);
}

/* Title */
.register-div h2{
    text-align:center;
    color:#333;
    margin-bottom:20px;
}

/* Label */
.form-group label{
    display:block;
    margin:8px 0px;
    font-weight:600;
    color:#444;
}

/* Input fields */
.form-control{
    width:100%;
    padding:10px;
    border-radius:6px;
    border:1px solid #ccc;
    outline:none;
    transition:0.3s;
}

/* Input focus effect */
.form-control:focus{
    border-color:#ff4e9b;
    box-shadow:0 0 5px rgba(255,78,155,0.5);
}

/* Button */
.submit-btn{
    margin-top:20px;
    width:100%;
    padding:12px;
    border:none;
    border-radius:6px;
    background:linear-gradient(45deg,#6a11cb,#ff4e9b);
    color:white;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

/* Button hover */
.submit-btn:hover{
    transform:translateY(-2px);
    box-shadow:0 5px 15px rgba(0,0,0,0.3);
}

/* Button click */
.submit-btn:active{
    transform:scale(0.98);
}
.fa-user-circle{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 5px solid deeppink;
    width: 70px;
    height: 70px;

    border-radius: 50%;
    margin: auto;
    margin-top: -40px;

    background-color: white;
    color: deeppink;
    font-size: 30px;

    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}